name: CI

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Check formatting
        run: npm run format:check

      - name: Run lints
        run: npm run lint
