name: Upload og:image

on:
  push:
    branches:
      - main
    paths:
      - 'articles/**'

env:
  AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Generate og:image files
        run: npm run gen:ogimage

      - name: Sync og:image folder to S3
        run: |
          aws s3 sync dist/og_images s3://${{ env.AWS_BUCKET_NAME }}/images/og --delete --exact-timestamps
